<div class="container elementTable">
  <div class="element iso big">
    <span>1</span>
    <p class="name">Iso</p>
    <p>An exequite jQuery plugin for magical layouts</p>
  </div>
  <div class="element b small">
    <span>5</span>
    <p class="name">B</p>
    <p class="elementName">Boron</p>
    <p>10.811</p>
  </div>
  <div class="element c small">
    <span>6</span>
    <p class="name">C</p>
    <p class="elementName">Carbon</p>
    <p>12.0107</p>
  </div>
  <div class="element o small">
    <span>8</span>
    <p class="name">O</p>
    <p class="elementName">Oxygen</p>
    <p>15.0107</p>
  </div>
  <div class="element f small">
    <span>9</span>
    <p class="name">F</p>
    <p class="elementName">Fluorine</p>
    <p>18.990107</p>
  </div>
  <div class="element ne small">
    <span>10</span>
    <p class="name">Ne</p>
    <p class="elementName">Neon</p>
    <p>29.0107</p>
  </div>
  <div class="element mg small">
    <span>12</span>
    <p class="name">Mg</p>
    <p class="elementName">Magnesium</p>
    <p>24.0107</p>
  </div>
  <div class="element fit big">
    <span>11</span>
    <p class="name">FIt</p>
    <p>Reveal & hide items with filtering</p>
  </div>
  <div class="element p small">
    <span>15</span>
    <p class="name">P</p>
    <p class="elementName">Phosphorus</p>
    <p>30.0107</p>
  </div>
  <div class="element s small">
    <span>16</span>
    <p class="name">S</p>
    <p class="elementName">Sulfur</p>
    <p>32.0107</p>
  </div>
  <div class="element ca small">
    <span>20</span>
    <p class="name">Ca</p>
    <p class="elementName">Calcium</p>
    <p>40.0107</p>
  </div>
  <div class="element sc small">
    <span>21</span>
    <p class="name">Sc</p>
    <p class="elementName">Scandium</p>
    <p>44.0107</p>
  </div>
</div>
