h4 {
  font-family: 'PopinsBold', Roboto, "Helvetica Neue", sans-serif;
  text-align: center;
  font-size: 20px;
  margin: 25px auto 15px;
}
.container div {
  font-family: 'PopinsRegular', Roboto, "Helvetica Neue", sans-serif;
  font-size: 18px;
  margin: 5px 25px;
}
.container {
  width: 600px;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.hForTable{
  text-align: left;
}
.table {
  width: 510px;
  background-color: #1f1e1c;
  padding: 5px;
  margin-top: 15px;
}
